<div>
  <p>
    <%=t(:gh_gitlab_settings) %>
  </p>
  <p>
    <label> <%= t(:gh_endpoint) %> </label>
    <%= text_field_tag 'settings[endpoint]', @settings['endpoint'] %>
  </p>
  <p>
    <label> <%= t(:gh_private_token) %> </label>
    <%= text_field_tag 'settings[private_token]', @settings['private_token'] %>
  </p>
</div>
